{% extends 'base.html' %}
{% block content %}
{% block meta %}
<title>Create Product</title>
{% endblock meta %}
{% include 'navbar.html' %}
<style>
  .sticky-bar {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #1f2937; /* gray-800 */
    padding: 1rem;
    border-bottom: 1px solid #374151; /* gray-700 */
  }

  .bottom-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1f2937; 
    padding: 1rem;
    text-align: center;
  }
</style>
<body class="bg-gray-800">


    <!-- Create Product Form -->
    <div id="main-entry-content" class="container mx-auto mt-28">
        <h1 class="text-4xl font-bold text-white text-center mb-8 mt-10">Create New Product</h1>
        <div class="bg-gray-900 p-6 rounded-lg shadow-lg max-w-lg mx-auto">
            <form method="POST" action="{% url 'main:create_product' %}">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="name">Product Name</label>
                    <input
                        class="w-full p-2 rounded-lg bg-gray-800 text-white focus:outline-none"
                        type="text" name="name" id="name" required>
                </div>
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="description">Description</label>
                    <textarea
                        class="w-full p-2 rounded-lg bg-gray-800 text-white focus:outline-none"
                        name="description" id="description" required></textarea>
                </div>
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="price">Price</label>
                    <input
                        class="w-full p-2 rounded-lg bg-gray-800 text-white focus:outline-none"
                        type="number" name="price" id="price" step="0.01" min="0" required>
                </div>
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="effects">Effects</label>
                    <textarea
                        class="w-full p-2 rounded-lg bg-gray-800 text-white focus:outline-none"
                        name="effects" id="effects" required></textarea>
                </div>
                <div class="flex justify-between items-center">
                    <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg">Create Product</button>
                    <a href="{% url 'main:show_main' %}" class="text-gray-300 hover:text-gray-500">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
