{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to the product entry form!</h1>
{% if not prduct_entries %}
    <p>There are no product entries yet.</p>
{% else %}
<table>
    <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
    </tr>
    {% for product_entry in product_entries %}
    <tr>
        <td>{{ product_entry.product_name }}</td>
        <td>{{ product_entry.product_description }}</td>
        <td>{{ product_entry.product_price }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}