{% extends 'base.html' %} {% block meta %}
<title>Register</title>
{% endblock meta %} {% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-800">
  <div class="w-full max-w-md p-6 bg-gray-700 rounded-lg shadow-md">
    <h2 class="mb-6 text-2xl font-bold text-center text-white">Register</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="space-y-4">
        <!-- Username Field -->
        <div>
          <label
            for="id_username"
            class="block mb-2 text-sm font-medium text-gray-300"
          >
            {{ form.username.label }}
          </label>
          <input
            type="text"
            name="username"
            id="id_username"
            class="w-full px-4 py-2 mt-2 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
            value="{{ form.username.value }}"
          />
          {{ form.username.errors }}
        </div>

        <!-- Password Field -->
        <div>
          <label
            for="id_password"
            class="block mb-2 text-sm font-medium text-gray-300"
          >
            Password
          </label>
          <input
            type="password"
            name="password"
            id="id_password"
            class="w-full px-4 py-2 mt-2 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          />
          {{ form.password.errors }}
        </div>

        <!-- Confirm Password Field -->
        <div>
          <label
            for="id_confirm_password"
            class="block mb-2 text-sm font-medium text-gray-300"
          >
            Confirm Password
          </label>
          <input
            type="password"
            name="confirm_password"
            id="id_confirm_password"
            class="w-full px-4 py-2 mt-2 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          />
          {{ form.confirm_password.errors }}
        </div>
      </div>

      <button
        type="submit"
        class="w-full px-4 py-2 mt-6 font-bold text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:shadow-outline"
      >
        Register
      </button>
    </form>
    <div class="text-center mt-4">
      <p class="text-sm text-gray-300">
        Already have an account?
        <a
          href="{% url 'main:login' %}"
          class="font-medium text-indigo-200 hover:text-indigo-300"
        >
          Login here
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
